@import url('https://fonts.googleapis.com/css?family=Lobster');

.brand-logo {
  font-family: 'Lobster', cursive;
}

.light , .card-title{
  text-shadow: 5px 2px 5px #111;
}

.items {
  font-family: 'Lobster', cursive;
  font-size: 1.2rem;
}

.fab:hover {
  color: #e0e0e0 ;
}

.card-title:hover {
  text-shadow: 5px 2px 5px #f4f4f4;
  transition: all 0.2s ease-in-out;
}

.fa-4x {
	margin: 5px 10px;
}

.btn:hover {
  color: #757575;
  transition: all 0.2s ease-in-out;
}
